<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pizza Cloud</title>
</head>

<body>
    <h1>Login</h1>
    <img th:src="@{/images/PizzaCloud.png}"/>

    <div th:if="${error}">
        Unable to login. Check your username and password.
    </div>

    <p>New here? Click
        <a th:href="@{/register}">here</a> to register.
    </p>

    <p><a th:href="@{/oauth2/authorization/facebook}">Sign in with Facebook</a></p>

    <form method="POST" th:action="@{/login}" id="loginForm">
        <label>
            <input type="text" name="username"/>Username:
        </label><br/>

        <label>
            <input type="password" name="password"/>Password:
        </label><br/>

        <input type="submit" value="Login"/>
    </form>
    </body>
</html>